<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DCC Platform</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>des</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GOOGLELoginAPI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>fb438886872641770</string>
				<string>com.googleusercontent.apps.949874182161-5jgngor16524p76qlckqhdk4l8hkgvih</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>DccThaID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dcc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>EnableBackgroundLocationUpdates</key>
	<true/>
	<key>FacebookAppID</key>
	<string>438886872641770</string>
	<key>FacebookClientToken</key>
	<string>dea564b10c59f68b0a7d69ccb44041b5</string>
	<key>FacebookDisplayName</key>
	<string>DCC Platform</string>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>lineauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1660694688</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>DCC Platform Music Usage</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>DCC Platform Bluetool Usage</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>DCC Platform BluetoothPeripheral</string>
	<key>NSCalendarsUsageDescription</key>
	<string>DCC Platform Calendar Usage</string>
	<key>NSCameraUsageDescription</key>
	<string>เพื่อแสดงรูปภาพโปรไฟล์ของคุณ</string>
	<key>NSContactsUsageDescription</key>
	<string>DCC Platform ต้องการเข้าถึงข้อมูลการติดต่อของคุณ</string>
	<key>NSFaceIDUsageDescription</key>
	<string>DCC Platform FaceID Usage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>เพื่อแสดงตำแหน่งปัจจุบันของคุณ และแนะนำสถานที่น่าสนใจให้กับคุณ</string>
	<key>NSLocationUsageDescription</key>
	<string>เพื่อแสดงตำแหน่งปัจจุบันของคุณ และแนะนำสถานที่น่าสนใจให้กับคุณ</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>เพื่อแสดงตำแหน่งปัจจุบันของคุณ และแนะนำสถานที่น่าสนใจให้กับคุณ</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>	
	<string>แอปต้องการใช้ตำแหน่งของคุณเพื่อแสดงแผนที่</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>DCC Platform Microphone Usage</string>
	<key>NSMotionUsageDescription</key>
	<string>DCC Platform Motion Usage</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>เพื่อแสดงรูปภาพโปรไฟล์ของคุณ</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>เพื่อแสดงรูปภาพโปรไฟล์ของคุณ</string>
	<key>NSRemindersUsageDescription</key>
	<string>DCC Platform Reminder Usage</string>
	<key>NSSiriUsageDescription</key>
	<string>DCC Platform Siri Usage</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>DCC Platform Speech Recognition Usage</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>DCC Platform Video Subscribe Usage</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>

	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>DCC Platform MediaLibrary Usage</string>
</dict>
</plist>
